<div class="about-page">
  <div class="about-header">
    <p class="about-sub">{{ 'ABOUT_SUB' | translate }}</p>
    <h1 class="about-title">{{ 'ABOUT_TITLE' | translate }}</h1>
  </div>
  <div class="about-content">
    <div class="about-img-wrap">
      <img src="https://images.unsplash.com/photo-1524995997946-a1c2e315a42f?w=800" alt="Our Story" class="about-img" />
    </div>
    <div class="about-text-box">
      <p>{{ 'ABOUT_P1' | translate }}</p>
      <p>{{ 'ABOUT_P2' | translate }}</p>
    </div>
  </div>
</div>